* {
  margin: 0;
}

body {
  background-color: #222;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: -150px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid black;
}

#control {
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 250px;
  margin: auto;
  width: 106px;
  height: 100px;
  text-align: center;
}

#chat {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 750px;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#messages {
  flex: 1;
  overflow-y: auto;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px;
  margin-bottom: 10px;
}

#input {
  border: none;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  width: calc(100% - 16px);
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
}

@media (min-width: 1500px) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }

  #chat {
    position: absolute;
    top: 0;
    bottom: 100px;
    right: auto;
    left: calc(50% + 420px);
    height: 40vh;
    max-width: 350px;
  }

  #messages {
    height: calc(
      100vh - 68px
    ); /* Adjust based on the height of the input field and padding */
  }
}

#control button {
  margin: 5px;
  padding: 5px;
}

.code {
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  display: block;
  text-decoration: none;
}

.code:hover,
.code:active {
  color: white;
}

.hidden {
  display: none !important;
}

.styled-input {
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  width: calc(100% - 40px);
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.styled-button {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #888;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #777;
}

.styled-button:active {
  background-color: #666;
}

#popupImg {
  width: 60%;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  display: block;
}

#coinImg {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  display: block;
}

.popup-text {
  text-align: center;
  margin-top: 15px;
}

.closePopupImg {
  width: 10%;
  position: fixed;
  right: 10px;
}

.popups {
  display: none;
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50%);
  margin: 0 auto;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border: 1px solid black;
  width: 300px;
  height: 200px;
}
